#gameGeniusTitle{
    font-size: 45px;
    font-weight: bold;
    background-color: rgb(37, 37, 100);
    padding: 20px;
    color: hsl(348, 100%, 61%);
    justify-content: center;
}
#gameGeniusTitle:hover{
    color: rgb(90, 90, 255) ;
}
#navbarBasicExample{
    justify-content: center;
}
#filters{
    font-size: 18px;
    background-color: rgb(90, 90, 255);
    color: white;
}
#filters:hover{
    background-color: rgb(0, 0, 100);
}
#iconFilters{
    padding-right: 5px;
}
#submitContainer{
    background-color: rgb(90, 90, 255);
}
#buttonSearch{
    font-size: 20px;
}
#containerNav{
    background-color: rgb(90, 90, 255);
}
select{
    font-size: 15px;
}
.formFilter{
    font-size: 18px;
    padding: 15px;
    background-color: rgb(90, 90, 255);
    color: white;
}
body{
    background-color: hsl(219, 70%, 96%);
}
.containerNews{
    margin-top: 60px;
}
a{
    font-size: 20px;
    color: black;
    font-weight: bold;  
}
a:hover{
    color: hsl(348, 100%, 61%);
}
.imgCard{
    border-radius: 5px;
    margin-top: 10px;
    height: 100px;
    width: 150px;  
    justify-content: left;
}
#containerRatingCardPage{
    margin-left: 20px;
    margin-bottom: 20px;
}
#gameTitle{
    margin-bottom: 20px;
}
#gameTitle:hover{
    color: hsl(348, 100%, 61%);
}
.formSort{
    margin-top:20px;
    margin-left: 20px;
    font-size: 20px;
    background-color: rgb(90, 90, 255);
    width: 160px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hsl(0, 0%, 100%);
    border-radius: 5px 5px 0px 0px;
}
#optionSort{
    font-size: 18px;
    background-color:hsl(204, 97%, 75%); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#platformSelector2{
    padding-right:10px;
    padding-left: 10px;
    background-color:hsl(204, 97%, 75%); 
    border-radius: 5px;
}
#prevBtn{
    margin: 10px;
    background-color:hsl(204, 86%, 53%);
    font-weight: bold;
}
#nextBtn{
    margin: 10px;
    background-color:hsl(204, 86%, 53%); 
    font-weight: bold;
}
#prevBtn:hover{
    background-color: hsl(217, 71%, 53%); 
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
#nextBtn:hover{
    background-color: hsl(217, 71%, 53%); 
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
