*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish', sans-serif;  
}

body{
    background: linear-gradient(to top, rgb(46, 60, 251), 35%,rgb(228, 125, 62),rgb(46, 60, 251) );
}

header{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 1em/5em;
}

#GameGenius{
    width: 12%;
    color: black;
    background-color: rgba(211, 58, 2, 0.907); 
    border-top-left-radius: 1em 5em; 
    border-bottom-left-radius: 1em 5em;
    padding-top: 50px;
    padding-left: 20px;
}

#gameGeniusTitle{
    font-size: 20px;
    text-align: center;
    padding: 10px; 
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.containerSearch{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#searchInput{
    width: 70%;
    padding: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}
.inputGroup{
    display: flex;
    flex-direction: row;
    width: 100%;

}
#containerFilters{
    position: relative;
    
    width: 100%;
    background-color: rgb(144, 144, 251);
    padding: 10px;
    text-align: center;
    padding-top: 25px;
    font-size: 15px;
    color: black;
    font-weight: bold;
    padding: 10px;
}

.btnSelectFilter{
    padding:5px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}
#iconFilters{
   padding-right: 5px;
}
.formFilter{
    display: flex;
    flex-direction: row;
}
#platformSelector{
    margin-left: 31px; 
}
#genreSelector{
    margin-left: 53px; 
}
#playersSelector{
    margin-left: 9px; 
}
#maturitySelector{
    margin-left: 80px; 
}
#containerFilters:hover{
    background-color:rgb(211, 211, 255);
    transition: 0.3s;
}
.option{
    cursor: pointer;
}
#buttonSearch{
    width: 15%;
    cursor: pointer;
    padding: 10px;
    color: black;
    background-color: rgba(211, 58, 2, 0.907);
    font-size: 20px;
    font-weight: bold;
    border-top-right-radius: 1em 5em;
    border-bottom-right-radius: 1em 5em;
}

#buttonSearch:hover{
    background-color: rgba(255, 118, 68, 0.907);
    transition: 0.3s;
    text-decoration: none;
    font-size: 25px;
}

#newsSection{
    margin: 30px;
    background-color: orangered;
    padding: 20px;
    border-radius: 10px;
}

#newsImage{
    padding: 40px;
    border: black solid 2px;
    margin-right: 10px;
    width: 40%;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px 0px 30px 0px;
    box-shadow:7px 7px 7px rgb(11, 11, 11); 
}
#textNews{
    padding-left: 20px;
    padding-right: 20px;
    border: black solid 2px;
    border-radius: 0px 30px 0px 30px;
    box-shadow:7px 7px 7px rgb(11, 11, 11);
    width:40%;
    background: linear-gradient(to top, rgb(163, 169, 245), 35%, rgb(46, 60, 251) );
}

p{
    text-align: justify;
}
h1{
    font-size: 25px;
    text-align: center;
    padding: 10px;  
}

#gameTitle{
    color: black;
    font-weight: bolder;
    font-size: 50px;
    padding: 20px;
}

#gameContainerNews{
    display: flex;
    flex-direction: row;
    height: 60vh;  
}

#containerIcons{
    margin-left: 10px;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    width:20%;
    border-radius: 0px 30px 0px 30px;
    box-shadow:7px 7px 7px rgb(11, 11, 11);
    background: linear-gradient(to top,rgba(211, 58, 2, 0.907), 35%,rgba(253, 166, 134, 0.907));
}

a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

a:hover{
    color: rgb(53, 0, 102);
    font-weight: bold;
}

